*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mobile-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
.mobile-menu.active {
    transform: translateX(0);
}

 .contact-container {
    font-family: 'Outfit';
    background: rgb(218, 181, 181);
}

 .contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363a3;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #a71313;
    gap: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(240deg,#ff994f, #fa6d86);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

/* Media query for smaller screens (e.g., tablets and mobile devices) */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    /* Adjusts width for smaller screens */
    .contact-inputs {
        width: 90%; 
    }

    .contact-left textarea {
        width: 90%;
    }

     /* Make the submit button full-width on small screens */
    .contact-left button {
        width: 100%;
        justify-content: center;
    }
}

/* Reduce title font size on mobile */
@media (max-width: 480px) {
    .contact-left-title h2 {
        font-size: 30px; 
    }

    .contact-left-title hr {
        width: 80px;
        height: 3px;
    }

     /* Full-width inputs on mobile */
    .contact-inputs, .contact-left textarea {
        width: 100%;
    }
} 